@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



@layer base{
    :root{
        --PrimaryColor:hsl(199,100%,33%);
        --SecondaryColor:hsl(187,85%,43%);
        --GradientColor:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
        --WhiteColor:hsl(0,0%,100%);
        --BlackColor:hsl(201,33%,16%);
        --TextColor:hsl(240,4%,36%);
        --WhiteColorDeam:hsl(0,0%,93%);
        --GrayText:rgb(190,190,190);
        --InputColor:rgb(239,239,239);
        --BodyColor:rgb(240,240,246);
        --CardBG:rgb(225,225,235);
      }
}

@layer components{
    .btn {
        @apply px-[1.5rem] py-[.6rem] bg-gradient-to-r from-[hsl(187,85%,43%)] to-[hsl(199,100%,33%)] rounded-[3rem] hover:bg-gradient-to-r hover:from-[var(--SecondaryColor)] hover:to-[var(--SecondaryColor)] border-none outline-none cursor-pointer;
      }
      
    .btn link{
        @apply text-[var(--WhiteColor)] font-medium;
      }
    
    .icon{
       @apply text-[2rem] cursor-pointer;
      }
      .tooltip{
        @apply invisible absolute top-10  ;
      } 
      .has-tooltip:hover .tooltip {
        @apply visible z-50 ;
      }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

html{
    scroll-behavior: smooth;
}
 body{
    background: var(--BodyColor);
  }

 input{
    font-size: 100%;
 }

img,video{
  width: 100%;  
  height: auto;
}

li{
    list-style: none;
  }

a{
    text-decoration: none;
}  

